<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Random Numbers</title>
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    </head>
    <body>
        <% if (diceType) { %>
            <% for (let index = 0; index < 12; index++) { %>
                <img class="onedie" src=<%= `assets/d${diceType}.png` %> />
            <% } %>
        <% } %>
        <p> You asked for <%= count %><%= diceType ? `d${diceType}` : ` dice from ${lower} to ${upper}` %>. Here they are:</p> 
        <% matrix.forEach(col => { %>
            <p>
                <% col.forEach(result => { %>
                <span><%= result %></span>     
                <% }) %>
                <br>
            </p>
        <% }) %>
    </body>
</html>

